<!-- <div style="display: flex; justify-content: center; align-items: center">
  <app-hello
    [flexDirection]="'column'"
    [progress]="currentProgress"
    [colorBar]="currentColor"
    [background]="'blue'"
  ></app-hello>
  <button (click)="currentProgress = currentProgress + 1">
    Click here to up Progress
  </button>
  <br />
  sử dụng cú pháp #..... để khai báo một instance của component
  <button #btnElment>Click</button>
  <nav-comp [navs]="navs"></nav-comp>
  <br />
  <checked
    style="margin-left: 3rem"
    #checkedComp
    [(checked)]="isChecked"
  ></checked>
  <button (click)="checkedComp.checked = true">True</button>
  <button (click)="checkedComp.checked = false">False</button>
</div> -->
<!-- <ng-template #linkTemplate let-item="number">
  <p style="margin-left: 20px">{{ item }}</p>
</ng-template>

<author-detail [linkTemplate]="linkTemplate"></author-detail>

<app-tab-group [(activeIndex)]="currentIndex">
  <app-tab-panel title="first">
    <ng-template tabContent>
      First tab content
      <app-count-component></app-count-component>
    </ng-template>
  </app-tab-panel>
  <app-tab-panel title="second">
    <ng-template tabContent>
      second tab content
      <app-count-component></app-count-component>
    </ng-template>
  </app-tab-panel>
  <app-tab-panel title="third">
    <ng-template tabContent>
      third tab content
      <app-count-component></app-count-component>
    </ng-template>
  </app-tab-panel>
  <app-tab-panel title="fourth">
    <ng-template tabContent>
      fourth tab content
      <app-count-component></app-count-component>
    </ng-template>
  </app-tab-panel>
  <app-tab-panel title="five">
    <ng-template tabContent>
      fiveth tab content
      <app-count-component></app-count-component>
    </ng-template>
  </app-tab-panel>
</app-tab-group>

<p>{{ address | formartAddress }}</p>
<ul>
  <li *ngFor="let user of userList | filterUserList">{{ user.name }}</li>
</ul>
<button (click)="addUser()">Click here</button> -->

<!-- <author-list></author-list> -->
<!-- <app-rxjs-transform-operator></app-rxjs-transform-operator>
<app-learn-rxjs></app-learn-rxjs> -->
<!-- <app-rxjs-filter></app-rxjs-filter> -->
<!-- <app-rxjs-combination></app-rxjs-combination>
<app-rxjs-handle-error></app-rxjs-handle-error> -->

<!-- <app-rxjs-HOOs></app-rxjs-HOOs> -->
<!-- <app-learn-form></app-learn-form> -->
<app-custom-validator></app-custom-validator>
<!-- <router-outlet></router-outlet> -->
<!-- <app-rxjs-subject></app-rxjs-subject> -->
